h1,h2 {
    font-family: 'Onest', sans-serif;
    font-weight: 700;
}

h3,h4,h5,h6 {
    font-family: 'Onest', sans-serif;
    font-weight: 400;
}

.header {
    background-image: url('../static/images/GrayBlackSimple.svg');
    background-size: 70%;
}

.number-hightlight {
    color: rgb(193, 92, 45);
    font-weight: bold;
    font-size: larger;
}

.available-bank {
    border-radius: 10px;
    border: 0.2rem outset #D5C6B1;
}

.available-bank:hover {
    border-radius: 10px;
    border: 0.2rem outset #D5C6B1;
    opacity: 0.5;
}

.carousel-item .card-name {
    color: #92828D;
    font-weight: bold;
}

.cube {
    padding: 1rem;
}

.cube-margin {
    margin: 1rem;
}

.graph-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.graph {
    width: 50%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.qa-answer img {
    padding-top: 1rem;
    margin-top: 1rem;
}

.qa-answer {
    list-style-type: none;
    max-height: calc(1 * 16px * 4); /* font-size * 4 */ 
    overflow: hidden;
}

.qa-answer.expanded {
    max-height: none;
}

.read-more {
    padding-left: 48px;
}

.read-more.collapsed {
    display: block;
}

.read-more.expanded {
    display: none;
}

.must-read-head {
    background-color: #EFEDE6;
    /* font-weight: 700; */
    color: #525256;
}

.must-read-title {
    background-color: #D5C6B1;
    border: 0.2rem outset #D5C6B1;
    color: #323340;
}

.custom-p {
    margin-right: 50px;
}