h1,h2 {
    font-family: 'Onest', sans-serif;
}

h3,h4,h5,h6 {
    font-family: 'Noto Sans TC', sans-serif;
}

.header {
    background-image: url('../static/images/Grayscale_left.svg');
}

.cube {
    padding: 1rem;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.qa-box p.collapse[aria-expanded="false"] {
    display: block;
    height: 50px;
    overflow: hidden;
}

/* .qa-box p.collapsing[aria-expanded="false"] { */
    /* height: 100%; */
    /* max-height: none !important; Override Bootstrap's max-height */
    /* max-height: none !important; Override Bootstrap's max-height */
    /* transition: max-height 0.3s ease; Add a transition effect */
/* } */

.qa-box a.collapsed:after  {
    content: '+ Read More';
}

.qa-box a:not(.collapsed):after {
    content: '- Read Less';
}