<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Credit All-In-One</title>
    <link rel="icon" type="image/x-icon" href="https://storage.googleapis.com/credit-398810-website-image/favicon/finn--v1.png">
    <!-- import CDN -->
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@200;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/14a40a5bb1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/dashboard_style.css">
    <link rel="stylesheet" href="/static/chat_style.css">
</head>
<body>
    <!-- Header -->
    <section class="header position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-10 p-lg-5 mx-auto my-3">
            <div class="mb-5">
                <h1 class="display-8 font-weight-normal">Credit All-In-One</h1>
            </div>
            <p class="lead font-weight-normal">彙整台灣各家銀行信用卡資訊總覽與問答機器人的一站式平台</p> 
            <a class="btn btn-outline-secondary btn-lg font-weight-bold" href="#hot-cards">信用卡資訊總覽</a>
            <a class="btn btn-outline-secondary btn-lg font-weight-bold" href="#community-analysis">社群話題分析</a>
            <a class="btn btn-outline-secondary btn-lg font-weight-bold" href="#chill-questions">近期熱烈問答</a>
            <a class="btn btn-outline-secondary btn-lg font-weight-bold" href="#chat-box">和 Finn Bot 聊聊</a>
        </div>
    </section>
    <!-- Header -->
    <!-- Dashboard -->
    <section id="hot-cards" class="padding container">
        <h2 class="text-center">信 用 卡 資 訊 總 覽</h2>
        <div class="d-flex justify-content-center mt-5" style="height: 100px;">
            <div class="vr"></div>
        </div>
        <div class="container">
            <div class="row my-5 text-center">
                <h3>銀行總數 <span class="number-hightlight">{{card_banks}}</span></h3>
                {% for bank in banks %}
                    <div class="available-bank d-inline col-md-1 p-2 m-2 text-center align-self-center rounded" data-bs-target="#new_updates" data-bs-slide-to="{{bank[1]}}">{{bank[0]}}</div>
                {% endfor %}
            </div>
            <p>*點擊銀行按鈕跳轉前往該銀行最新信用卡資訊輪播</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center cube">
                    <h3>流通信用卡總數 <span class="number-hightlight">{{card_cards}}</span></h3>
                    <div id="cards_counts_ranking"></div>
                    <p class="text-start">*此處所提及之「銀行總數」及「流通信用卡總數」係基於 Credit All-In-One 平台所能提供的資訊數量計算。</p>
                </div>
                <div class="col-md-6 text-center cube">
                    <h3>最新信用卡資訊</h3>
                    <div id="new_updates" class="carousel slide" data-bs-ride="carousel">
                        {% if plot_2 is string %}
                        <div class="display-6">No new updates</div>
                        <h5 class="cube">in these {{plot_2}} days!</h5>
                        <img class="card-image d-block rounded mx-auto cube" src="/static/images/credit_card_image.png" alt="/static/images/credit_card_image.png" height="100"><br>
                        {% else %}
                        <div class="carousel-inner cube">
                        {% for card in plot_2 %}
                            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                <h4 class="bank-name cube text-secondary">{{ card[1] }}</h4>
                                <div class="card-name cube display-6 font-weight-bold">{{ card[2] }}</div>
                                <a class="url cube" href="{{card[4]}}" target="_blank"><img class="card-image cube d-block rounded mx-auto" src="{{ card[3] }}" alt="/static/images/credit_card_image.png" height="200"></a>
                                <h6 class="release-date cube font-weight-light">更新於 {{ card[0] }}</h6>
                            </div>
                        {% endfor %}
                        </div>
                        {% endif %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#new_updates" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#new_updates" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
    </section>
    <!-- Dashboard -->
    <div class="hr"></div>
    <!-- Community -->
    <section id="community-analysis" class="padding container">
        <h2 class="text-center">社 群 話 題 分 析</h2>
        <div class="d-flex justify-content-center mt-5" style="height: 100px;">
            <div class="vr"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center cube">
                    <h3>趨勢關鍵字</h3>
                    <div class="my-5">
                        <h5 id="word_cloud">近三個月 PTT 社群「creditcards」版關鍵字</h5>
                    </div>
                    <!-- <img class="card-image d-block rounded mx-auto" src="{{ plot_3 }}" alt="../static/images/wordcloud.jpeg" height="400"><br> -->
                    <img class="graph-container mx-auto" src="{{ plot_3 }}" alt="../static/images/wordcloud.jpeg"><br>
                </div>
                <div class="col-md-6 text-center cube">
                    <h3>焦點信用卡</h3>
                    <h5></h5>
                    <div id="score_of_cards"></div>
                    <p class="text-start">*評分方式：依照 PTT 社群「creditcards」版各文章內提及的信用卡名稱加總貼文數與推文數計算。</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 cube">
                    <h3 class="text-center m-5">近期熱門文章</h3>
                    {% for article in articles %}
                    <div class="container my-3">
                        <div class="row rounded my-1 py-1 must-read-head d-flex align-items-center">
                            <h5 class="col-md-1 my-1">
                                {% if article['push'] == 100 %}
                                爆
                                {% else %}
                                {{ article['push'] }}
                                {% endif %}
                            </h5>
                            <h5 class="col-md-11 post-date my-1">{{ article['post_dt'] }}</h5>
                        </div>
                        <div class="row rounded my-2 py-2 must-read-title d-flex align-items-center">
                            <h4 class="post-title font-weight-bold">{{ article['post_title'] }}</h4>
                        </div>
                        <p class="article py-1">{{ article['article'] }}</p>
                        <a class="post-link text-secondary" href="{{ article['post_link'] }}" targer="_blank">前往文章</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Community -->
    <div class="hr"></div>
    <!-- Recent QA -->
    <section id="chill-questions" class="padding container">   
        <h2 class="text-center">歷 史 熱 烈 問 答</h2>
        <div class="d-flex justify-content-center mt-5" style="height: 100px;">
            <div class="vr"></div>
        </div>
        <div class="container">
            <div id="recent_qa" class="card">
                {% for chat in plot_5 %}
                <div class="qa-box card-body">
                    <div class="qa-date card-subtitle mb-2 text-muted">
                        <span>{{ chat[0] }}</span>
                        <span>{{ chat[1] }}</span>
                    </div>
                    <div class="container">
                        <div class="d-flex align-items-center">
                            <img class="avater user-icon" width="40" height="40" src="{{ chat[2] }}" alt="user-icon"/>
                            <h5 class="container-fluid qa-question card-title">{{ chat[3] }}</h5>
                        </div>
                    </div>
                    <div class="container">
                        <div class="qa-answer-box d-flex align-items-center">
                            <img class="avatar" width="48" height="48" src="https://storage.googleapis.com/credit-398810-website-image/favicon/finn--v1.png" alt="finn--v1"/>
                            {% if '\n' in chat[4] %}
                            <ul class="qa-answer card-text cube" id="qa-answer-{{plot_5.index(chat)}}">
                                {% for item in chat[4].split('\n') %}
                                <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p class="qa-answer card-text cube" id="qa-answer-{{plot_5.index(chat)}}">{{ chat[4] }}</p>
                            {% endif %}
                        </div>
                        <a class="read-more" href="#qa-answer-{{plot_5.index(chat)}}">+ Read More</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Recent QA -->
    <!-- Chat -->
    <section>
        <div class="padding container" id="chat-box">
            <div class="row container d-flex justify-content-center">
                <h2 class="text-center">和 Finn Bot 聊 聊</h2>
                <div class="d-flex justify-content-center mt-5" style="height: 100px;">
                    <div class="vr"></div>
                </div>
                <div class="col-md-12">
                <div class="card card-bordered">
                    <div class="card-header">
                        <h5 class="card-title"><strong>Chat</strong></h5>
                    </div>                    
                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                        <div class="media media-chat">
                            <img class="avatar" width="48" height="48" src="https://storage.googleapis.com/credit-398810-website-image/favicon/finn--v1.png" alt="finn--v1"/>
                            <div class="media-body bot-message">
                                <p>Hi! 我是 Finn Bot，你可以向我詢問詳細的信用卡介紹。</p>
                            </div>
                        </div>
                    </div>
                    <div id="suggested-questions" class="container">
                        <div class="row cube">
                            {% for card in sorted_card_names %}
                            <button id="suggested-question-{{ loop.index }}" onclick="addQuestion(this)" class="col text-center cube m-3 suggested-question">可以幫我介紹一下{{ card }}嗎？</button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="publisher bt-1 border-light">
                        <img class="avatar avatar-xs" id="selected-icon" src="" alt="client">
                        <input class="publisher-input" type="text" placeholder="Ask something about credit card..." id="message_input" autocomplete="off" />
                        <button id="send_button" class="btn btn-light" onclick="sendMessage()" disabled>Send</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Credit All-In-One</h5>
                    <p class="custom-p">彙整台灣各家銀行信用卡資訊總覽與問答機器人的一站式平台</p>
                    <img src="https://storage.googleapis.com/credit-398810-website-image/favicon/finn--v1.png" alt="finn--v1"/>
                </div>
                <div class="col-md-4">
                    <h5>快速導覽 - Links</h5>
                    <div><i class="fa-solid fa-credit-card"></i><a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#hot-cards"> 信用卡資訊總覽</a></div>
                    <div><i class="fa-solid fa-address-card"></i><a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#community-analysis"> 社群話題分析</a></div>
                    <div><i class="fa-solid fa-comment-dots"></i><a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#chill-questions"> 歷史熱烈問答</a></div>
                    <div><i class="fa-solid fa-robot"></i><a class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#chat-box"> 和 Finn Bot 聊聊</a></div>
                </div>
                <div class="col-md-4">
                    <h5>關於我 - Contact Me</h5>
                    <div>Finn Ou</div>
                    <div><i class="fa-solid fa-envelope"></i><a href="mailto:a92340a@gmail.com" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"> a92340a@gmail.com</span></div>
                    <div><i class="fa-solid fa-code-compare"></i><a href="https://github.com/a92340a" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"> https://github.com/a92340a</a></div>
                    <div><i class="fa-brands fa-linkedin"></i><a href="https://www.linkedin.com/in/finn-ou-607008180/" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"> https://www.linkedin.com/in/finn-ou-607008180/</a></div>
                </div>
            </div>
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2023 Credit-All-In-One Copyright</div>
            <!-- Copyright -->
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.js" charset="utf-8"></script>
<script type="text/javascript" src="static/dashboard_scripts.js"></script>
<script type="text/javascript" src="static/chat_scripts.js"></script>
<script type="text/javascript">
    let plot_1 = {{ plot_1 | safe }};
    Plotly.plot("cards_counts_ranking", plot_1, {});
    let plot_4 = {{ plot_4 | safe }};
    Plotly.plot("score_of_cards", plot_4, {});
</script>
</html>
