<!DOCTYPE html>
<html>
<head>
    <title>Credit All-In-One</title>
    <!-- without icon -->
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        const url =  'http://127.0.0.1:9000'
        const socket = io.connect(url);

        // send messages to server
        function sendMessage() {
            var input = document.getElementById('message_input');
            var message = input.value;
            input.value = '';
            socket.emit('message', message);
        };

        // waiting and showing marquee
        socket.on('calculating', function(calculating) {
            document.getElementById('messages_output').innerText = calculating;
        });

        // show results
        socket.on('result', function(data) {
            document.getElementById('messages_output').innerText = data;
        });
    </script>
</head>
<body>

    <h1>Credit All-In-One</h1>
    
    <input id="message_input" autocomplete="off" /><button onclick="sendMessage()">Send</button>
    <div id="messages_output"></div>

</body>
</html>
